@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-bg-primary text-text-primary font-kanit;
    margin: 0;
    line-height: 1.6;
    overflow-x: hidden;
  }
}

